* { box-sizing:border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

body {
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-content:center;
  align-items:space-around;
  background-image: url("Background.jpg");
  display:grid;
  justify-items:center;
  height:100%;
  width:100%;

}

canvas { 
  image-rendering:pixelated; 
  border: 1px solid red;
}

#menu {

  background-color:rgba(0, 0, 0, 0.5);
  color:#ffffff;
  cursor:pointer;
  display:grid;
  max-height:100%;
  overflow-y:auto;
  padding:8px;
  position:fixed;
  right:0px;
  top:0px;
  user-select:none;
  
  -webkit-tap-highlight-color:transparent;

}

#menu p {
  color:#ffffff;
  font-size:2.0em;

}

#menu-list {
  display:none;

}

#menu-list a {
  
  color:#ffffff;
  font-size:1.5em;
  text-decoration:none;

}

/* dodano */

button,
    select {
      font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 5px;
      margin: 5px;
      font-size: 1.2em;
      border-radius: 10px;
    }

    #divIzbornik {
      margin-top: 10px;
    }

    textarea {
      width: 100%;
    }

    .infowrapper {
      /* border: 1px solid #999999; */
      margin: 5px 0;
      padding: 3px;
      width: 90%;
    }

    textarea.info {
      /* display: none; */
      /*background-color: black;*/
      border: dotted 1px black;
      color: lime;
      text-align: left;
      padding: 5px;
      font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
    }

    p.info {
      /* display: none; */
      color: white;
      text-align: left;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .green {
      background-color: lightgreen;
    }

    .red {
      background-color: lightsalmon;
    }

    .orange {
      background-color: orange;
    }

    .emoji {
      font-size: 30px;
    }