* { box-sizing:border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

body {
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-content:center;
  align-items:space-around;
  background-image: url("Background.jpg");
  display:grid;
  justify-items:center;
  height:100%;
  width:100%;

}

canvas { 
  image-rendering:auto; 
  border: 1px solid rgb(0, 0, 0);
}

#menu {

  background-color:rgba(0, 0, 0, 0.5);
  color:#ffffff;
  cursor:pointer;
  display:grid;
  max-height:100%;
  overflow-y:auto;
  padding:8px;
  position:fixed;
  right:0px;
  top:0px;
  user-select:none;
  
  -webkit-tap-highlight-color:transparent;

}

#menu p {
  color:#ffffff;
  font-size:2.0em;

}

#menu-list {
  display:none;

}

#menu-list a {
  
  color:#ffffff;
  font-size:1.5em;
  text-decoration:none;

}

/* dodano */

button,
    select {
      font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 5px;
      margin: 5px;
      font-size: 1.2em;
      border-radius: 10px;
    }

    #divIzbornik {
      margin-top: 10px;
    }

    textarea {
      width: 100%;
    }

    .infowrapper {
      /* border: 1px solid #999999; */
      margin: 5px 0;
      padding: 3px;
      width: 90%;
    }

    textarea.info {
      /* display: none; */
      /*background-color: black;*/
      border: dotted 1px black;
      color: lime;
      text-align: left;
      padding: 5px;
      font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      width: 100%;
    }

    p.info {
      /* display: none; */
      color: white;
      text-align: left;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .green {
      background-color: lightgreen;
    }

    .red {
      background-color: lightsalmon;
    }

    .orange {
      background-color: orange;
    }
    .white {
      background-color: #ffffff;
    }

    .emoji {
      font-size: 30px;
    }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f32121;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
